<div class="inner cover">
    <h1 class="cover-heading">Welcome to My Portfolio</h1>
    <p class="lead">The Internet has brought with it so many fantastic things, all of which I have been facinated with! The passion I have gained while learning to program is a discovery that has been matched by very few things in my life. I with I had discovered this passion much sooner! I love being able to build things and watch them grow as I do. I'm excited to dive more into this world with you! Lets build something great together.</p>
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>
    
