.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.navigation-wrapper > .left-column, 
.navigation-wrapper > .right-column {
  display: flex;
  align-items: center;
}

.navigation-wrapper > .left-column > .icon,
.navigation-wrapper > .right-column > .icon {
  margin: 0px 15px;
}

.navigation-wrapper > .left-column > .icon i,
.navigation-wrapper > .right-column > .icon i {
  font-size: 2.3em;
}

.left-column > .contact-hours-wrapper, 
.right-column > .address-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
  color: #858585;
  font-size: .8em;
}

.links-wrapper > .nav-link a {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.navigation-wrapper > .center-column {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
}

.navigation-wrapper > .center-column > .banner-image {
  display: flex;
  justify-content: center;
}

.links-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links-wrapper > .nav-link {
  width: 60px;
  text-align: center;
}

.links-wrapper > .nav-link a {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #cbcbcb;
  text-decoration: none;
  transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
  color: #cea135;
  letter-spacing: 2px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours, 
.navigation-wrapper > .right-column > .address-wrapper > .address-line1, 
.navigation-wrapper > .right-column > .address-wrapper > .address-line2 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.navigation-wrapper > .center-column > .banner-image img {
  width: 215px;
  height: 100%;
}

.navigation-wrapper > .right-column a {
  color: #858585;
  text-decoration: none;
  font-size: 0.9em;
  transition: 0.5s;
}

.navigation-wrapper > .right-column a:hover {
  color: #cea135;
}

.navigation-wrapper > .right-column > .address-wrapper {
text-align: right;
}