/* Commong Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

/* Nav Styles */

.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.navigation-wrapper > .left-column, 
.navigation-wrapper > .right-column {
  display: flex;
  align-items: center;
}

.navigation-wrapper > .left-column > .icon,
.navigation-wrapper > .right-column > .icon {
  margin: 0px 15px;
}

.navigation-wrapper > .left-column > .icon i,
.navigation-wrapper > .right-column > .icon i {
  font-size: 2.3em;
}

.left-column > .contact-hours-wrapper, 
.right-column > .address-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-link a {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours, 
.navigation-wrapper > .right-column > .address-wrapper > .address-line1, 
.navigation-wrapper > .right-column > .address-wrapper > .address-line2 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.navigation-wrapper > .center-column > .banner-image img {
  width: 215px;
  height: 100%;
}