/* Commong Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

/* Nav Styles */

.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.left-column, .right-column {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0px 15px;
}

.icon i {
  font-size: 2.3em;
}

.left-column > .contact-hours-wrapper, .right-column > .address-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.contact-hours-wrapper > .hours, .address-wrapper > .address-line1, .address-wrapper > .address-line2 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.nav-link a {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
}

.banner-image img {
  width: 215px;
  height: 100%;
}