/* Commong Styles */
body {
  margin: 0px;
}

/* Nav Styles */

.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.left-column {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
}

.icon > i {
  font-size: 2.3em;
}

.left-column > .contact-hours-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.address-wrapper {
}