@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "gritter";
@import "bourbon";

.custom-nav {
  margin-top: 15px;
}

#cssTable td 
{
    text-align:center; 
    vertical-align:middle;
}